<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Title</title>
        </head>
        <body>

                <style type="text/css">
.tg  {width:100%; border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:15px 15px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:15px 15px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-uxja{border-color:#333333;color:#333333;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.inputbox{text-algin:center; width:100%;}
                </style>

                <form method="post" action="/search">
                        <input type="text" class="inputbox" name="search"><br><br>
                </form>
                <table class="tg">
                        <thead>
                                <tr>
                                        <th class="tg-0pky">Album Cover</th>
                                        <th class="tg-0pky">Album Title</th>
                                        <th class="tg-0pky">Artist</th>
                                        <th class="tg-0pky">Genre</th>
                                        <th class="tg-0pky">Year</th>

                                        <th class="tg-0pky">Preview</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% for item in data %}
                                <tr>
                                        <td class="tg-0pky">  
                                                <a href="/remove?&album={{item.album}}&artist={{item.artist}}&genre={{item.genre}}&date={{item.date.strftime('%Y-%m-%d')}}&art={{item.artwork}}&stream={{item.stream}} ">
                                                        <img src="{{item.artwork}}"> 
                                                </a>
                                        </td>

                                        <td class="tg-0pky"> {{item.album}}     </td>
                                        <td class="tg-0pky"> {{item.artist}}    </td>
                                        <td class="tg-0pky"> {{item.genre}}     </td>
                                        <td class="tg-0pky"> {{item.date}}      </td>

                                        <td class="tg-0pky"> 
                                                <audio controls>
                                                        <source src="{{item.stream}}" type="audio/x-m4a">
                                                </audio>
                                        </td>
                                </tr>
                                {% endfor %}

                        </tbody>
                </table>


        </body>
</html>
